<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>质检</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>NewZhiJianList</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>质检确认</string>
		<key>ima</key>
		<string>预约.png</string>
		<key>bundid</key>
		<string>ZhiJianQueRenList</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>价格公告</string>
		<key>ima</key>
		<string>公告.png</string>
		<key>bundid</key>
		<string>NoticeList</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>预约统计</string>
		<key>ima</key>
		<string>预约.png</string>
		<key>bundid</key>
		<string>YuYue</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>预约列表</string>
		<key>ima</key>
		<string>预约.png</string>
		<key>bundid</key>
		<string>YuYueList</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日流水</string>
		<key>ima</key>
		<string>每日流水.png</string>
		<key>bundid</key>
		<string>Supplierflow</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月流水</string>
		<key>ima</key>
		<string>每月流水.png</string>
		<key>bundid</key>
		<string>Supplierflow</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日金额</string>
		<key>ima</key>
		<string>每日金额.png</string>
		<key>bundid</key>
		<string>SupplierAmount</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月金额</string>
		<key>ima</key>
		<string>每月金额.png</string>
		<key>bundid</key>
		<string>SupplierAmount</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日重量</string>
		<key>ima</key>
		<string>每日重量.png</string>
		<key>bundid</key>
		<string>SupplierWeight</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月重量</string>
		<key>ima</key>
		<string>每月重量.png</string>
		<key>bundid</key>
		<string>SupplierWeight</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日净重图</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>LineAmount</string>
		<key>flag</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月净重图</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>LineAmount</string>
		<key>flag</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日金额图</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>LineAmount</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月金额图</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>LineAmount</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日流水(出库)</string>
		<key>ima</key>
		<string>每日流水.png</string>
		<key>bundid</key>
		<string>CK_Supplierflow</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月流水(出库)</string>
		<key>ima</key>
		<string>每月流水.png</string>
		<key>bundid</key>
		<string>CK_Supplierflow</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日金额(出库)</string>
		<key>ima</key>
		<string>每日金额.png</string>
		<key>bundid</key>
		<string>CK_SupplierAmount</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月金额(出库)</string>
		<key>ima</key>
		<string>每月金额.png</string>
		<key>bundid</key>
		<string>CK_SupplierAmount</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日重量(出库)</string>
		<key>ima</key>
		<string>每日重量.png</string>
		<key>bundid</key>
		<string>CK_SupplierWeight</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月重量(出库)</string>
		<key>ima</key>
		<string>每月重量.png</string>
		<key>bundid</key>
		<string>CK_SupplierWeight</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日净重图(出库)</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>CK_LineAmount</string>
		<key>flag</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月净重图(出库)</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>CK_LineAmount</string>
		<key>flag</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日金额图(出库)</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>CK_LineAmount</string>
		<key>flag</key>
		<string>0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月金额图(出库)</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>CK_LineAmount</string>
		<key>flag</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>对账单</string>
		<key>ima</key>
		<string>质检.png</string>
		<key>bundid</key>
		<string>DuiZhangDan</string>
		<key>flag</key>
		<string>0</string>
	</dict>
</array>
</plist>
